
name: Docker Build

on:
  workflow_call: {}

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
  outputs:
    ghcr_sha: ghcr.io/${{ github.repository }}:sha-${{ github.sha }}
  steps:
    - uses: actions/checkout@v5
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{ github.repository }}
        tags: |
          type=sha,format=long
          type=ref,event=tag
          type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=registry,ref=${{ env.GHCR_IMAGE }}:buildcache
        cache-to: type=registry,ref=${{ env.GHCR_IMAGE }}:buildcache,mode=max
